body {
font-family: 'Merriweather', serif;
margin: 0 10%;
}

h2 {
  font-family: "Poppins", sans-serif;
}

.container {
    border: 2px solid #565658;
    padding: 10px;
    margin: 10px auto;
  }

  .color-container {
    width: 100%;
  }

  .color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
  }

  .cyan {
    background-color: #00ffff;
    color: black;
  }

  .purple {
    background-color: purple;
    color: black;
  }

  .teal {
    background-color: teal;
    color: black;
  }

  .fuchsia {
    background-color: #ff00ff;
    color: black;
  }

  .font-panel {
    width: 45%;
    display: inline-block;
  }
  
  .font-label {
    font-size: 20px;
    text-decoration: underline;
  }
  
  .regular {
    font-style: normal;
  }
  
  .italic {
    font-style: italic;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .Merriweather {
   font-family: 'Merriweather', serif;
  }
  
  .source-code-pro {
    font-family: 'Source Code Pro', monospace;
  }
  
  .poppins {
    font-family: 'Poppins', sans-serif;
  }
  
  .text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Merriweather', serif;
  }
  
  .text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }